[profile rolesanywhere]
credential_process = /usr/local/bin/aws_signing_helper credential-process --certificate {{ ansible_user_dir }}/.aws/certs/cert.pem --private-key {{ ansible_user_dir }}/.aws/certs/cert.key --trust-anchor-arn {{ aws_trust_anchor_arn }} --profile-arn {{ aws_profile_arn }} --role-arn {{ aws_role_arn }}
