##--------------------------------------------------------------------
## Webhook Configuration
##--------------------------------------------------------------------

# The HTTP URL for the webhook
url = "http://khamoshchat-api:3000/mqtt/webhook"

# The pool size for HTTP requests
pool_size = 32

# HTTP timeout (milliseconds)
timeout = 5000

# Webhook rules
# event: client_connected, client_disconnected, client_subscribe, client_unsubscribe, session_created, session_terminated, message_publish, message_delivered, message_acked
rules = [
    { event = "client_connected", action = "post" },
    { event = "client_disconnected", action = "post" },
    { event = "message_publish", action = "post" }
]
