##--------------------------------------------------------------------
## Webhook Configuration
##--------------------------------------------------------------------

# The HTTP URL for the webhook (Private API port 3001)
url = "http://khamoshchat-api:3001/offline_message"

# The pool size for HTTP requests
pool_size = 32

# HTTP timeout (milliseconds)
timeout = 5000

# Webhook rules
# Supported actions: client_connected, client_disconnected, message_publish, offline_message, etc.
rules = [
    { event = "client_connected", action = "client_connected" },
    { event = "client_disconnected", action = "client_disconnected" },
    { event = "message_publish", action = "message_publish" },
    { event = "offline_message", action = "offline_message" }
]
