[Container]
# Official image now contains required fixes
Image=docker.io/rmqtt/rmqtt:latest
PublishPort=1883:1883
Network=deezchatz.network
Volume={{ ansible_user_dir }}/.config/rmqtt/rmqtt.toml:/app/rmqtt/rmqtt.toml:Z
Volume={{ ansible_user_dir }}/.config/rmqtt/plugins/rmqtt-session-storage.toml:/app/rmqtt/rmqtt-plugins/rmqtt-session-storage.toml:Z
Volume={{ ansible_user_dir }}/.config/rmqtt/plugins/rmqtt-message-storage.toml:/app/rmqtt/rmqtt-plugins/rmqtt-message-storage.toml:Z
Volume={{ ansible_user_dir }}/.config/rmqtt/plugins/rmqtt-web-hook.toml:/app/rmqtt/rmqtt-plugins/rmqtt-web-hook.toml:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
