[Container]
Image=docker.io/library/nginx:alpine
ContainerName={{ nginx_container_name | default('nginx') }}
PublishPort=80:80
PublishPort=443:443
PublishPort=8883:8883

Volume={{ ansible_facts['user_dir'] }}/.config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro,Z
Volume={{ ansible_facts['user_dir'] }}/.config/letsencrypt:/etc/letsencrypt:ro,z
Volume={{ ansible_facts['user_dir'] }}/.config/certbot-www:/var/www/certbot:ro,z

[Service]
Restart=always
ExecReload=/usr/bin/podman kill --signal=HUP {{ nginx_container_name | default('nginx') }}

[Install]
WantedBy=default.target
